# Python cache
__pycache__/
*.pyc

/shelf/
/workspace.xml
.idea/
/build/
/dist/
*.spec
*.exe
/Exe_build_folder/
/settings.json
/template_update_helper.py
/background_image_creator.py

# Test material
/Test_scans/
/Last_scan_result/
/log_file.log
/ScoreTable.json
/calibration_result.json
/Example_scan_result/merged*

# Map background images
Images/Map_background/*.png
!Images/Map_background/*_g.png
